# Firebase Web App Config JSON
# 您需要將 Firebase Console 提供的 Config 物件轉為 JSON 字串放入此處
PUBLIC_FIREBASE_CONFIG='{"apiKey": "YOUR_API_KEY", "authDomain": "YOUR_AUTH_DOMAIN", "projectId": "YOUR_PROJECT_ID", "storageBucket": "YOUR_STORAGE_BUCKET", "messagingSenderId": "YOUR_SENDER_ID", "appId": "YOUR_APP_ID"}'
